# Backend API
NEXT_PUBLIC_API_ROOT=https://your-api-url/

# Sentry (optional)
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
NEXT_PUBLIC_SENTRY_PROJECT=
NEXT_PUBLIC_SENTRY_ORG=
